/*--------------------------------*\
  #ROOT
\*--------------------------------*/

:root {
    /**
     * Colors
     */
    /* Primary */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
     
    /* Neutral */
    --Very-dark-blue1: hsl(217, 54%, 11%);
    --Very-dark-blue2: hsl(216, 50%, 16%);
    --Very-dark-blue3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    /**
     * Typography
     */

    /* Body Copy */
    --Font-size: 18px;

    /* Font Family */
    --font-family: "Outfit", sans-serif;
}

/*--------------------------------*\
  #RESET
\*--------------------------------*/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span { display: block; }

a {
    text-decoration: none;
    color: inherit;
}

img { height: auto; }

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    background-color: var(--Very-dark-blue1);
    font-family: var(--font-family);
    color: var(--White);
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

::selection {
    background-color: var(--Cyan);
    color: var(--White);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--Very-dark-blue1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--Cyan);
    border-radius: 4px;
}

/*--------------------------------*\
  #DUPLICATE ITEM
\*--------------------------------*/

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*--------------------------------*\
  #NFT PREVIEW CARD
\*--------------------------------*/

.nft-preview-card {
  background-color: var(--Very-dark-blue2);
  box-shadow: 0 0 10% black;
  border-radius: 14px;
  padding: 25px;
  height: auto;
  width: 90%;
}

.nft-preview-card figure { 
  background-color: var(--Cyan);
  border-radius: 12px;
  position: relative; 
  cursor: pointer;
  transition: .4s;
}

.nft-preview-card figure:hover .image-equilibrium { 
  transition: .4s;
  opacity: 0.5; 
}

.nft-preview-card figure:hover .icon-view { 
  visibility: visible;
  transition: .4s;
  opacity: 1;
}

.nft-preview-card figure .image-equilibrium { 
  border-radius: 12px; 
  margin-bottom: 25px;
}

.nft-preview-card figure .icon-view {
  transform: translate(-50%, -50%);
  position: absolute;
  visibility: hidden;
  transition: .4s;
  opacity: 0;
  top: 50%;
  left: 50%;
}

.nft-preview-card .nft-preview-card-content a {
  transition: .4s;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.nft-preview-card .nft-preview-card-content a:hover {
  color: var(--Cyan);
  transition: .4s;
}

.nft-preview-card .nft-preview-card-content .pragraf {
  color: var(--Soft-blue);
  margin-bottom: 20px;
}

.nft-preview-card .nft-preview-card-content .nft-preview-card-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--Very-dark-blue3);
}

.nft-preview-card .nft-preview-card-content .nft-preview-card-list .nft-preview-card-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nft-preview-card .nft-preview-card-content .nft-preview-card-list .nft-preview-card-item .icon-ethereum { width: 15px; }

.nft-preview-card .nft-preview-card-content .nft-preview-card-list .nft-preview-card-item .icon-clock { width: 25px; }

.nft-preview-card .nft-preview-card-content .nft-preview-card-list .nft-preview-card-item .text-ethereum { 
  color: var(--Cyan); 
  font-weight: 500;
  letter-spacing: 0.5px;
}

.nft-preview-card .nft-preview-card-content .nft-preview-card-list .nft-preview-card-item p { color: var(--Soft-blue); }

.nft-preview-card .nft-preview-card-content .nft-preview-card-bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.nft-preview-card .nft-preview-card-content .nft-preview-card-bottom .img-avatar {
  border: 2px solid var(--White);
  border-radius: 50%;
  width: 40px;
}

.nft-preview-card .nft-preview-card-content .nft-preview-card-bottom p {
  color: var(--Soft-blue);
  display: flex;
  align-items: center;
  gap: 4px;
}

.nft-preview-card .nft-preview-card-content .nft-preview-card-bottom p span {
  cursor: pointer;
  color: var(--White);
  transition: .4s;
}

.nft-preview-card .nft-preview-card-content .nft-preview-card-bottom p span:hover {
  color: var(--Cyan);
  transition: .4s;
}

/*--------------------------------*\
  #MEDIA
\*--------------------------------*/

@media (min-width: 1200px) {
  .nft-preview-card { 
    padding: 28px;
    width: 400px; 
  }
  .nft-preview-card .nft-preview-card-content a { font-size: 1.3rem; }
}